In [ ]:
from datascience import *
import numpy as np

## Columns of Tables are Arrays ##

In [ ]:
nba = Table.read_table('nba_salaries.csv').where('season', 2020).drop('season')
nba.show(5)

In [ ]:
nba.num_rows

In [ ]:
nba.num_columns

In [ ]:
nba.labels

In [ ]:
warriors = nba.where('team', 'Golden State Warriors')
warriors.show(5)

In [ ]:
warriors.relabeled('salary', '$')

In [ ]:
warriors

In [ ]:
warriors = nba.where('team', 'Golden State Warriors').drop('team').relabeled('salary', '$')
warriors.show(3)

In [ ]:
warriors.select('$')

In [ ]:
type(warriors.select('$'))

In [ ]:
warriors.select(3)

In [ ]:
warriors.select(3).show(5)

In [ ]:
warriors.column('$')

In [ ]:
warriors.column(3)

In [ ]:
type(warriors.column('$'))

In [ ]:
np.average(warriors.column('$'))

In [ ]:
suns = nba.where('team', 'Phoenix Suns').drop('team').relabeled('salary', '$')

In [ ]:
np.average(warriors.column('$')) - np.average(suns.column('$'))

In [ ]:
np.sum(warriors.column('$')) - np.sum(suns.column('$'))

In [ ]:
warriors.num_rows

In [ ]:
suns.num_rows

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
warriors.take(0)

In [ ]:
warriors.take(0, 1, 2)

In [ ]:
warriors.take(np.arange(3))

In [ ]:
np.sum(warriors.take(np.arange(5)).column('$'))

In [ ]:
np.sum(suns.take(np.arange(5)).column('$'))

# Ways to Create a Table #

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('Bancroft', 'Durant', 'Channing', 'Haste')
streets

In [ ]:
Table()

In [ ]:
southside = Table().with_column('Streets', streets)
southside

In [ ]:
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
southside

In [ ]:
southside = southside.with_column('Blocks from campus', np.arange(4))
southside

In [ ]:
Table().with_columns(
    'Streets', streets,
    'Blocks from campus', np.arange(4)
)

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('du_bois.csv')
du_bois

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.column('FOOD')

In [ ]:
du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois.with_column('Food $', food_dollars)

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois = du_bois.with_column('Food $', food_dollars)
du_bois

In [ ]:
np.max(du_bois.column('Food $'))

In [ ]:
du_bois.with_column(
    'Fraction of well-to-do food $', 
    du_bois.column('Food $') / np.max(du_bois.column('Food $')))

## Where Method

In [ ]:
nba.where('salary', are.above(10000000))

In [ ]:
nba.where('salary', are.between(10000000, 20000000))

In [ ]:
nba.where('position', are.containing('G'))

## Print and string formatting

In [ ]:
1 + 2
3 + 4

In [ ]:
print(1 + 2)
print(3 + 4)

In [ ]:
'Go Bears!'

In [ ]:
print('Go Bears!')

In [ ]:
cal = 'Berkeley'

In [ ]:
'{cal} is great'

In [ ]:
f'{cal} is great'

In [ ]:
print(f'{cal} is great')
print(f'{warriors.column("name").item(0)} is pretty great too')