## Python Arithmetic ##

In [1]:
2 + 6

8

In [2]:
2 * 4

8

In [3]:
8/9

0.8888888888888888

In [4]:
8 / 9 * 9

8.0

In [5]:
2 + 3 * -5

-13

In [6]:
(2 + 3) * -5

-25

In [7]:
-(1 + 1) + 2 * (3 * 4 * 5 / 6) ** 3 + 7 + 8 + 9

2022.0

In [8]:
# two to the power of four: 2 * 2 * 2 * 2
2 ** 4

16

In [9]:
2 ** 11 - 2 ** 5 + 2 ** 3 - 2

2022

In [10]:
# The line below causes a syntax error because of an extra space
# 2 * * 11 - 2 ** 5 + 2 ** 3 - 2

## Names ##

In [11]:
a = 2

In [12]:
a

2

In [13]:
# The line below causes a name error if b isn't assigned yet.
# b

In [14]:
b = 3
a * b

6

In [15]:
a

2

In [16]:
b

3

In [17]:
total = a + b
total

5

In [18]:
a = 10
total

5

In [19]:
total

5

In [20]:
a

10

In [21]:
total = a + b
total

13

In [22]:
# The line below causes a syntax error
# a + b = total

In [23]:
a = a + 1
a

11

### Why Names?

In [24]:
# Option 1
40 * 15.00

600.0

In [25]:
40 * 52 * 15.00

31200.0

On January 1, 2022, the CA Minimum Wage for Employers with 26 Employees or More increased to $15/hour.

In [26]:
# Option 2
ca_hourly_minimum_wage = 15.00
hours_per_week = 40
weeks_per_year = 52

In [27]:
hours_per_year = hours_per_week * weeks_per_year

In [28]:
hours_per_year

2080

In [29]:
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

600.0

In [30]:
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

31200.0

## Functions and Call Expressions

In [31]:
abs(-5)

5

In [32]:
abs(1 - 3)

2

In [33]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

5

In [34]:
min(14, 15)

14

In [35]:
round(123.456)

123

In [36]:
round(123.456, 1)

123.5

In [37]:
round(123.456, ndigits=1)

123.5

In [38]:
round?

In [39]:
round(number=123.456)

123

In [40]:
# The line below causes a type error because the wrong name was used.
# round(123.456, digs=1)

In [41]:
# The line below causes an error if math has not been imported
# math.sqrt(2)

In [42]:
import math

In [43]:
math.sqrt(2)

1.4142135623730951

## Tables ##

In [44]:
from datascience import *

In [45]:
cones = Table.read_table('cones.csv')
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [46]:
cones.show(3)

In [47]:
cones.show()

In [48]:
cones.select('Flavor')

Flavor
strawberry
chocolate
chocolate
strawberry
chocolate
bubblegum

In [49]:
cones.select('Flavor', 'Price')

Flavor     | Price
strawberry | 3.55
chocolate  | 4.75
chocolate  | 5.25
strawberry | 5.25
chocolate  | 5.25
bubblegum  | 4.75

In [50]:
# The line below causes an error because Flavor is not a name.
# cones.select(Flavor, 'Price')

In [51]:
cones.drop('Price')

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [52]:
cones

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [53]:
cones_without_price = cones.drop('Price')
cones_without_price

Flavor     | Color
strawberry | pink
chocolate  | light brown
chocolate  | dark brown
strawberry | pink
chocolate  | dark brown
bubblegum  | pink

In [54]:
cones.where('Flavor', 'chocolate')

Flavor    | Color       | Price
chocolate | light brown | 4.75
chocolate | dark brown  | 5.25
chocolate | dark brown  | 5.25

In [55]:
cones.sort('Price')

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

In [56]:
cones.sort('Price', descending=True)

Flavor     | Color       | Price
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
strawberry | pink        | 3.55

In [57]:
cones.sort('Flavor', descending=True)

Flavor     | Color       | Price
strawberry | pink        | 3.55
strawberry | pink        | 5.25
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

### A more interesting table

In [58]:
# From https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
nba = Table.read_table('nba_salaries.csv')
nba

rank | name             | position | team                   | salary   | season
1    | Shaquille O'Neal | C        | Los Angeles Lakers     | 17142000 | 2000
2    | Kevin Garnett    | PF       | Minnesota Timberwolves | 16806000 | 2000
3    | Alonzo Mourning  | C        | Miami Heat             | 15004000 | 2000
4    | Juwan Howard     | PF       | Washington Wizards     | 15000000 | 2000
5    | Scottie Pippen   | SF       | Portland Trail Blazers | 14795000 | 2000
6    | Karl Malone      | PF       | Utah Jazz              | 14000000 | 2000
7    | Larry Johnson    | F        | New York Knicks        | 11910000 | 2000
8    | Gary Payton      | PG       | Seattle SuperSonics    | 11020000 | 2000
9    | Rasheed Wallace  | PF       | Portland Trail Blazers | 10800000 | 2000
10   | Shawn Kemp       | C        | Cleveland Cavaliers    | 10780000 | 2000
... (9446 rows omitted)

In [59]:
point_guards = nba.where('position', 'PG').where('season', 2020)

In [60]:
point_guards

rank | name              | position | team                   | salary   | season
1    | Stephen Curry     | PG       | Golden State Warriors  | 40231758 | 2020
2    | Chris Paul        | PG       | Oklahoma City Thunder  | 38506482 | 2020
3    | Russell Westbrook | PG       | Houston Rockets        | 38506482 | 2020
4    | John Wall         | PG       | Washington Wizards     | 38199000 | 2020
8    | Kyle Lowry        | PG       | Toronto Raptors        | 34996296 | 2020
14   | Kemba Walker      | PG       | Boston Celtics         | 32742000 | 2020
16   | Mike Conley       | PG       | Utah Jazz              | 32511624 | 2020
17   | Kyrie Irving      | PG       | Brooklyn Nets          | 31742000 | 2020
21   | Damian Lillard    | PG       | Portland Trail Blazers | 29802321 | 2020
52   | Malcolm Brogdon   | PG       | Indiana Pacers         | 20000000 | 2020
... (72 rows omitted)

In [61]:
point_guards.drop('position')

rank | name              | team                   | salary   | season
1    | Stephen Curry     | Golden State Warriors  | 40231758 | 2020
2    | Chris Paul        | Oklahoma City Thunder  | 38506482 | 2020
3    | Russell Westbrook | Houston Rockets        | 38506482 | 2020
4    | John Wall         | Washington Wizards     | 38199000 | 2020
8    | Kyle Lowry        | Toronto Raptors        | 34996296 | 2020
14   | Kemba Walker      | Boston Celtics         | 32742000 | 2020
16   | Mike Conley       | Utah Jazz              | 32511624 | 2020
17   | Kyrie Irving      | Brooklyn Nets          | 31742000 | 2020
21   | Damian Lillard    | Portland Trail Blazers | 29802321 | 2020
52   | Malcolm Brogdon   | Indiana Pacers         | 20000000 | 2020
... (72 rows omitted)

In [62]:
point_guards

rank | name              | position | team                   | salary   | season
1    | Stephen Curry     | PG       | Golden State Warriors  | 40231758 | 2020
2    | Chris Paul        | PG       | Oklahoma City Thunder  | 38506482 | 2020
3    | Russell Westbrook | PG       | Houston Rockets        | 38506482 | 2020
4    | John Wall         | PG       | Washington Wizards     | 38199000 | 2020
8    | Kyle Lowry        | PG       | Toronto Raptors        | 34996296 | 2020
14   | Kemba Walker      | PG       | Boston Celtics         | 32742000 | 2020
16   | Mike Conley       | PG       | Utah Jazz              | 32511624 | 2020
17   | Kyrie Irving      | PG       | Brooklyn Nets          | 31742000 | 2020
21   | Damian Lillard    | PG       | Portland Trail Blazers | 29802321 | 2020
52   | Malcolm Brogdon   | PG       | Indiana Pacers         | 20000000 | 2020
... (72 rows omitted)

In [63]:
point_guards = point_guards.drop('rank', 'position', 'season')

In [64]:
point_guards.show(10)

In [65]:
point_guards.sort('salary').show(10)

In [66]:
# The line below will cause a value error
# nba.drop('position').where('position', 'PG')