# Lecture 9: Functions #

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Histogram Example

In [ ]:
# From https://womenintheworld.org/highest-paid-actress/
incomes = Table.read_table('2022_female_actors.csv')
incomes.show(3)

In [ ]:
my_bins = make_array(0, 25, 30, 60)
incomes.hist('Income (millions)', bins=my_bins)

## Defining Functions ##

Example: Create a function that takes a numerical input and triples it: $\textsf{triple}(x)=3\,x$

In [ ]:
def triple(anything):
    return 3 * anything

In [ ]:
triple(3)

## The Anatomy of a Function ##  
    
```python
def function_name(arguments):
    ...
    return return_expression
```

## Functions are Type-Agnostic  ##

## Discussion

In [ ]:
def percent_of_total(s):
    """
    s is an array of numbers
    this returns the percent of the total for each element
    """
    return np.round(s / sum(s) * 100, 2)

### Functions Can Take Multiple Arguments ###

Example: Calculate the Hypotenuse Length of a Right Triangle


Pythagoras's Theorem: If $x$ and $y$ denote the lengths of the right-angle sides, then the hypotenuse length $h$ satisfies:

$$ h^2 = x^2 + y^2 \qquad \text{which implies}\qquad \hspace{20 pt} h = \sqrt{ x^2 + y^2 } $$

In [ ]:
def hypotenuse(x, y):
    hypot_squared = (x ** 2 + y ** 2)
    hypot = hypot_squared ** 0.5
    return hypot

We could've typed the body all in one line. Do you find this more readable or less readable than the original version?

In [ ]:
def hypotenuse(x,y):
    return (x ** 2 + y ** 2) ** 0.5

In [ ]:
hypotenuse(9, 12)

### Example: A function that takes the year of birth of a person and produces their age in years. ###

In [ ]:
def age(year):
    age = 2022 - year
    return age

Now add some bells and whistles:  Take person's name and year of birth (two arguments). Produce a sentence that states how old they are.

In [ ]:
def name_and_age(name, year):
    return name + ' is ' + str(age(year)) + ' years old.'

## Apply ##

In [ ]:
ages = Table().with_columns(
    'Person', make_array('Jim', 'Pam', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
ages